<style>
   .box {
   height: 100%;
   }
   .box.center {
   height: 100%;
   color: #FFF;
   text-align: center;  
   margin: 0 auto;
   }
   .centerAll
   {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 80%;
   height: 100px;
   }
   .bottom
   {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100px;
   }
   .center{
   text-align: center;
   }
   .justify{
   text-align: justify;
   }
</style>
<div ng-controller="AboutController">
   <ion-content scroll="false">
      <ion-slides  options="options" slider="data.slider">
         <ion-slide-page>
            <div class="box laranja center">
               <div class="centerAll">
                  <i class="fa fa-camera fa-5x"></i>
                  <p>Quando saímos, seja com amigos, parceiros, o passeio já é motivo de sobra para registrar tudo. E se o lugar é legal, aí é que não tem desculpa.</p>
                  <a href="#" class="button button-full button-stable">
                  Entendi!
                  </a>
               </div>
            </div>
         </ion-slide-page>
         <ion-slide-page>
            <div class="box azul center">
               <div class="centerAll">
                  <i class="fa fa-share-alt fa-5x"></i>
                  <p>
                     Compartilhe seus melhores momentos  com sua rede de amigos. Desse jeito todos podem aproveitar o que há de melhor nas proximidades.
                  </p>
                  <a href="#" class="button button-full button-stable">
                  Entendi!
                  </a>
               </div>
            </div>
         </ion-slide-page>
         <ion-slide-page>
            <div class="box purple">
               <div class="centerAll center">
                  <i class="fa fa-apple fa-5x"></i>
                  <p>
                     Usar o Mapn não traz benefícios só para os clientes. Você ajuda, também, os estabelecimentos fazendo divulgação através das publicações nas redes sociais.
                  </p>
                  <a href="#" class="button button-full button-stable">
                  Entendi!
                  </a>
               </div>
            </div>
         </ion-slide-page>
      </ion-slides>
   </ion-content>
</div>