<ion-nav-view></ion-nav-view>
<ion-side-menus enable-menu-with-back-views="false">
   <ion-side-menu-content>
      <ion-nav-bar class="bar bar-header bar-dark" align-title="center">
         <ion-nav-back-button>
         </ion-nav-back-button>
         <!--<ion-nav-title>
            <img alt="Company Logo" height="40" src="img/logo.png">
         </ion-nav-title>-->
         <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
         </ion-nav-buttons>
         <ion-nav-buttons side="right">
<!--<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Pesquisar">
  </label>
</div>-->
         </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
   </ion-side-menu-content>
   <ion-side-menu side="left">
      <ion-content>
         <div class="content-block">
            <div class="left-menu-profile text-center" ng-show="isAuth()">
               <div class="row">
                  <div class="col-15">
                     <a href="#"><i class="flaticon-how"></i></a>
                  </div>
                  <!--<div class="col-70">
                     <input type="text" class="text-thiny" placeholder="Find a restaurant">
                  </div>-->
                  <div class="col-15">
                     <a href="#"><i class="flaticon-menu"></i></a>
                  </div>
               </div>
               <div class="profile-picture big-profile-picture margin-top-30">
                  <img ng-if="User.photo.length" ng-src="{{User.photo}}">
                  <img ng-if="!User.photo.length" src="assets/theme/main/img/photos/user-1.png">
               </div>
               <div class="text-small text-capitalize">
                  {{User.name}}
               </div>
               <div class="text-extrat-thiny gray-text text-capitalize icon-location">
                  <i class="icon ion-location"></i> 
               </div>
            </div>
         </div>
         <!-- Menu items -->
         <div class="list">
         <a class="item item-icon-left" href="#/home" menu-close >
         <i class="icon ion-home"></i>
         Home
         </a>
         <a class="item item-icon-left" href="#/app/profile" menu-close ng-show="isAuth()">
         <i class="icon ion-person"></i>
         Perfil
         </a>
         <a class="item item-icon-left" href="#/about" menu-close>
         <i class="icon ion-information"></i>
         Sobre
         </a>
         <a class="item item-inner item-icon-left" href="#" menu-close ng-show="isAuth()" ng-click="logout()">
         <i class="icon ion-log-out"></i>
         Sair
         </a>
      </ion-content>
   </ion-side-menu>
</ion-side-menus>